{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>
   {% block title %}
   {% endblock %} - Satori Testing System
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/files/structure.css" />
  <link rel="stylesheet" href="/files/style.css" />
  <link rel="stylesheet" href="/files/default.css" />
  <link rel="stylesheet" href="/files/pygments.css" />
  <link rel="stylesheet" href="/files/html4css1.css" />
  <link rel="stylesheet" href="/files/jquery.fileupload-ui.css" />
  <link rel="stylesheet" href="/files/smoothness/jquery-ui-1.8.10.custom.css" />
  <link rel="icon" href="/files/satori_logo.png"/>

  <script src="/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <script src="/files/jquery.min.js" type="text/javascript"></script>
  <script src="/files/jquery-ui.min.js" type="text/javascript"></script>
  <script src="/files/jquery.fileupload.js" type="text/javascript"></script>
  <script src="/files/jquery.fileupload-ui.js" type="text/javascript"></script>
  <script src="/files/clock.js" type="text/javascript"></script>
  {% block header %}
  {% endblock %}
</head>
<body>
    <div id="cover">
        <div id="header">
            {% include "templates/header.html" %}
        </div>
        <div id="container">
            <div class="colmask threecol"> 
                <div class="colmid"> 
                    <div class="colleft"> 
                        <div class="col2 rDots"> 
                            <!-- Column 2 start --> 
                            <img src="/files/satori_banner.png" alt="" width="90%">
                            {% include "templates/menu.html" %}
                            <!-- Column 2 end --> 
                        </div> 
                        <div class="col1"> 
                            <!-- Column 1 start - Main Column--> 
                            <div id="content">
                                {% include "templates/status_bar.html" %}
                                {% block content %}
                                <!-- TODO(kalq): Add content -->
                                {% endblock %}
                            </div>
                            <!-- Column 1 end --> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div>
        <div id="footer">

        </div>
    </div>
</body>
</html>
